* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
html {
    height: 100vh;
    background: linear-gradient(#c651ab, #cac59e);
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calc-container {
    padding: 40px 15px 20px 15px;
    border: 0.1px black solid;
    border-radius: 10px;
    background-color: rgb(48, 48, 60);
    display: flex;
    height: fit-content;
}
.calculator {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
html body input {
    border-radius: 5px;
    border: 0.1px black solid;
    padding: 5px;
    flex: 1;
}
html body input:hover {
    cursor: pointer;
}
.button-container {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.text-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#display-below {
    flex: 1;
        background-color: rgb(48, 48, 60);
        color: white;
        font-weight: 600;
        font-size: large;
        border: none;
        text-align: right;
        cursor: default;
}
#display-above {
    flex: 1;
    background-color: rgb(48, 48, 60);
    color: grey;
    font-weight: 600;
    font-size: medium;
    border: none;
    text-align: right;
    cursor: default;
}
.colored {
    background-color: rgb(255, 149, 0);
    color: white;
}