body {
    display: flex;
    justify-content: center;
}
.calc-container {
    padding: 20px;
    border: 0.1px black solid;
    border-radius: 10px;
    background-color: thistle;
    display: flex;
}
.calculator {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
html body input {
    border-radius: 5px;
    border: 0.1px black solid;
    padding: 5px;
    flex: 1;
}
.button-container {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.text-display {
    flex: 1;
}